In [31]:
# Standard libraries
import os
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *
from IPython.display import display

# Machine Learning
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from scipy.cluster import hierarchy as hc
from fastai.imports import *

In [32]:
data = pd.read_csv('etc/data/auto2.csv')
data.shape

(93, 23)

In [33]:
data.iloc[0,:]

maker                             Acura
 type                             Small
 CityMPG+                            25
 HighwayMPG+                         31
 Air_Bags_standard                    0
 Drive_train_type                     1
 Number_of_cylinders                  4
 Engine_size                        1.8
 Horsepower                         140
 RPM                               6300
 Engine_revolutions_per_mile       2890
 manual_transmission_available        1
 Fuel_tank_capacity                13.2
 Passenger_capacity                   5
 Length                             177
 Wheelbase                          102
 Width                               68
 U-turn_space                        37
 Rear_seat_room                    26.5
 Luggage_capacity                    11
 Weight-                           2705
 domestic                             0
 Class-                            15.9
Name: 0, dtype: object

In [35]:
# One hot encode matchType
data1 = pd.get_dummies(data, columns=[' type'])

# Take a look at the encoding
matchType_encoding = data1.filter(regex=' type')
matchType_encoding

,type_Compact,type_Large,type_Midsize,type_Small,type_Sporty,type_Van
0,False,False,False,True,False,False
1,False,False,True,False,False,False
2,True,False,False,False,False,False
3,False,False,True,False,False,False
4,False,False,True,False,False,False
...,...,...,...,...,...,...
88,False,False,False,False,False,True
89,True,False,False,False,False,False
90,False,False,False,False,True,False
91,True,False,False,False,False,False
92,False,False,True,False,False,False

In [36]:
# One hot encode matchType
data2 = pd.get_dummies(data1, columns=['maker'])

In [37]:
data2

,CityMPG+,HighwayMPG+,Air_Bags_standard,Drive_train_type,Number_of_cylinders,Engine_size,Horsepower,RPM,Engine_revolutions_per_mile,manual_transmission_available,...,maker_Oldsmobile,maker_Plymouth,maker_Pontiac,maker_Saab,maker_Saturn,maker_Subaru,maker_Suzuki,maker_Toyota,maker_Volkswagen,maker_Volvo
0,25,31,0,1,4,1.8,140,6300,2890,1,...,False,False,False,False,False,False,False,False,False,False
1,18,25,2,1,6,3.2,200,5500,2335,1,...,False,False,False,False,False,False,False,False,False,False
2,20,26,1,1,6,2.8,172,5500,2280,1,...,False,False,False,False,False,False,False,False,False,False
3,19,26,2,1,6,2.8,172,5500,2535,1,...,False,False,False,False,False,False,False,False,False,False
4,22,30,1,0,4,3.5,208,5700,2545,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,17,21,0,1,5,2.5,109,4500,2915,1,...,False,False,False,False,False,False,False,False,True,False
89,21,30,0,1,4,2.0,134,5800,2685,1,...,False,False,False,False,False,False,False,False,True,False
90,18,25,0,1,6,2.8,178,5800,2385,1,...,False,False,False,False,False,False,False,False,True,False
91,21,28,1,0,4,2.3,114,5400,2215,1,...,False,False,False,False,False,False,False,False,False,True
92,20,28,2,1,5,2.4,168,6200,2310,1,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# æ ‡å‡†åŒ–
X = StandardScaler().fit_transform(X)
y = StandardScaler().fit_transform(y.reshape(-1, 1)).reshape(-1)

# åˆ†å‰²è®­ç»ƒé›†ä¸Žæµ‹è¯•é›†
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)